https://github.com/cedadev/ceda-directory-tree/archive/v1.1.6.tar.gz
https://github.com/cedadev/ceda-elasticsearch-tools/archive/v2.5.0a.tar.gz
https://github.com/cedadev/cci-tag-scanner/archive/v2.2.1.tar.gz