anytree==2.8.0
git+https://github.com/rsmith013/cci-tagger.git
git+https://github.com/cedadev/json_tagger.git
git+https://github.com/cedadev/ceda-elasticsearch-tools.git
certifi==2019.11.28
cftime==1.0.4.2
chardet==3.0.4
git+https://github.com/cedadev/directory-tree.git
docopt==0.6.2
elasticsearch==7.6.0
idna==2.9
isodate==0.6.0
netCDF4==1.5.3
numpy==1.18.1
pyparsing==2.4.6
rdflib==4.2.2
requests==2.23.0
six==1.14.0
SPARQLWrapper==1.8.5
tqdm==4.43.0
urllib3==1.25.8
verboselogs==1.7